In [1]:
import matplotlib.pyplot as plt
import mysql.connector
import numpy as np
import pandas as pd
import streamlit as st

In [2]:
conexao = mysql.connector.connect(host='sql496.main-hosting.eu', database='u459129097_lizz',
                                  user='u459129097_visio', password='visiosolucaowebliz13')

cursor = conexao.cursor()
if conexao.is_connected():
    print('conexão ok')

queryPedido = ('SELECT * FROM pedidos')
queryCliente = ('SELECT * FROM clientes')
queryItensPedidos = ('SELECT * FROM itens_pedidos')
queryProduto = ('SELECT * FROM produtos')
queryVendedor = ('SELECT * FROM vendedores')

dfPedido = pd.read_sql(queryPedido, conexao)
dfCliente = pd.read_sql(queryCliente, conexao)
dfItensPedidos = pd.read_sql(queryItensPedidos, conexao)
dfProduto = pd.read_sql(queryProduto, conexao)
dfVendedor = pd.read_sql(queryVendedor, conexao)

conexão ok

C:\Users\Sávio Cunha\AppData\Local\Temp\ipykernel_11780\1994564415.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfPedido = pd.read_sql(queryPedido, conexao)
C:\Users\Sávio Cunha\AppData\Local\Temp\ipykernel_11780\1994564415.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfCliente = pd.read_sql(queryCliente, conexao)
C:\Users\Sávio Cunha\AppData\Local\Temp\ipykernel_11780\1994564415.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfItensPedidos = pd.read_sql(queryItensPedidos, conexao)
C:\Users\Sávio Cunha\AppData\Local\Temp\ipykernel_11780\1994564415.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfProduto = pd.read_sql(queryProduto, conexao)
C:\Users\Sávio Cunha\AppData\Local\Temp\ipykernel_11780\1994564415.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfVendedor = pd.read_sql(queryVendedor, conexao)

In [3]:
dfCliente['Month'] = dfCliente[''].apply(lambda x: x.month)
dfCliente['Year'] = dfCliente[''].apply(lambda x: x.year)

KeyError: ''

In [9]:
display(dfPedido)

,id_pedido,id_cliente,id_vendedor,total_pedido,obs_pedido,obs_cancelamento,obs_entrega,data_entrega,forma_pag,ped_desconto,status,data_pedido
0,1,1,4,1189.80,Dividir pedido nas cores Masculino e Feminino....,None,,2017-07-13,30/60,0.0,4,2017-08-26 00:12:51
1,8,2,4,427.50,REF 15 - 01 ROSA + 01 AZUL + 01 AMARELO\r\nREF...,None,,2017-09-25,30 DIAS BOLETO S/ NOTA,0.0,4,2017-09-09 11:26:01
2,9,3,4,694.00,REF 14: TODOS ESTAMPADOS\r\n\r\nTODO O PEDIDO ...,None,,2017-09-25,Boleto 20 /40 dias s/ Nota,0.0,4,2017-09-09 17:00:55
3,10,4,4,202.50,REF 26 - SÓ FEMININO\r\nREF. 13 - METADE MASC ...,None,,2017-10-02,Boleto 30 dias,0.0,4,2017-09-12 14:26:49
4,12,5,4,394.00,"APLICAR DESCONTO DE 42,00 REF. A TABELA ANTIGA.",None,,2017-08-04,30 DIAS BOLETO S/ NOTA,0.0,4,2017-09-19 16:59:48
...,...,...,...,...,...,...,...,...,...,...,...,...
752,807,260,10,1887.30,urgente,None,...,None,A VISTA,6.0,2,2023-05-09 13:23:20
753,808,100,10,5133.10,"OBS:CLIENTE QUER:\r\nREF.004- 3 ROSA BB, 3 AZU...",None,...,None,30/60/90/120,0.0,2,2023-05-11 12:55:46
754,809,83,6,6027.30,1-FATURAR JUNHO,None,1-FATURAR JUNHO,None,30/60/90/120,0.0,2,2023-05-22 11:17:00
755,810,110,6,2002.70,1-FATURAR URGENTE - INAUGURAÇÃO DE OUTRA LOJA\...,None,1-FATURAR URGENTE\r\n\r\n\r\n\r\n,None,30/60/90/120,0.0,2,2023-05-23 20:59:27
756,811,72,6,1715.85,1-FATURAR JUNHO,None,1-FATURAR JUNHO,None,30/60/90,0.0,2,2023-05-23 21:33:25

In [24]:
(dfPedido["status"].values == 4).()

681

In [2]:
dfPedido.groupby(by="Month").sum(numeric_only=True)[["total_pedido"]].sort_values("Month")

NameError: name 'dfPedido' is not defined